body {
    width: 100%;
    background-color: aliceblue;
    margin: 5px;
}
.interface {
    display: flex;
    width: 100%;
    background-color: rgb(224, 222, 219);
    
}
.left {
    width: 350px;
    height: 100%;
    background-color: rgb(6, 6, 70);
}
.right {
    
    padding-left: 50px;
}
.logo {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-left: 35%;
}

.text {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(48, 32, 66);
    padding-left: 50px;
}
p {
    width: 200;
    font-size: 20px;
}

.menu {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}
.menu ul {
    list-style: none;
    display: block;
}

.menu ul li {
    padding: 10px 20px;
    position: relative;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.1s;
}

.menu ul li a:hover {
    color: rgb(109, 106, 106);
}