<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}" />
  </head>
  <body>
    <div class="interface">
        <div class="image">
            <img class="logo" src="{{ url_for('static', filename='/images/logo.JPG') }}">
        </div>
        <div class="login">
            <h1 class="text">Student MIS</h1>
            <p class="text">Welcome Back! Log in to your account to proceed.</p>
            <form method="post" action="{{ url_for('login') }}">
                <fieldset>
                <input id="email" type="email" name="email" placeholder="Email">
                <input id="password" type="password" name="password" placeholder="Password">
                </fieldset>
                <button id="button1" type="submit">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>