<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Head master home page</title>
    <link rel="stylesheet" href="../static/styles/master_page.css" />
  </head>
  <body>
    <div class="interface">
        <div class="image">
            <img class="logo" src="../static/images/logo.JPG">
            <nav class="menu">
                <a href="#">Student Management</a>
                <a href="#">User Management</a>
                <a href="#">Transcript Management</a>
                <a href="#">Contact</a>
            </nav>
        </div>
        <div class="login">
            <h1 class="text">Student MIS</h1>
            <p class="text">Welcome Back! Log in to your account to proceed.</p>
            <button id="logout" type="submit" name="login-button">Log out</button>
        </div>
    </div>
</body>
</html>