<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/search_form.css') }}" />
    <title>Search page</title>
    </head>
    <body>
      <div class="header">
      <img class="logo" src="{{ url_for('static', filename='/images/logo.JPG') }}">
      <h1 class="text">Student MIS</h1>
    </div>
    <h2 class="text">Welcome to the search portal.</h2>
    <div class="search">
    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Enter your search query">
        <button type="submit">Search</button>
    </form>
  </div>
    </body>
</html>