<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registration Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/student_form.css') }}" />
  </head>
  <body>
    <h1>Student Registration Form</h1>
    <p>Please fill out this form with the required information</p>
    <form method="post" action="{{ url_for('process_student') }}">
      <fieldset>
        <legend><h2>Student information</h2></legend>
        <label for="first-name">Student First Name: <input id="first-name" name="first-name" type="text" required /></label>
        <label for="last-name">Student Last Name: <input id="last-name" name="last-name" type="text" required /></label>
        <label for="email">Student Email: <input id="email" name="email" type="email" required /></label>
        <label for="address">Student Address: <input id="address" name="address" type="address" type="text" required /></label>
        <!--label for="new-password">Create Student Password: <input id="new-password" name="new-password" type="password" pattern="[a-z0-5]{8,}" required /></label-->
      </fieldset>
      <fieldset>
        <legend><h2>Gender</h2></legend>
        <label for="personal-account"><input id="personal-account" type="radio" name="gender" value="Male" class="inline" /> Male</label>
        <label for="business-account"><input id="business-account" type="radio" name="gender" value="Female" class="inline" /> Female</label>
      </fieldset>
      <fieldset>
        <legend><h2>Student class</h2></legend>
        <label for="classroom">Select Student class?
          <select id="classroom" name="classroom">
            <option value="">(select one)</option>
            <option value="S1">Senior one</option>
            <option value="S2">Senior Two</option>
            <option value="S3">Senior Three</option>
          </select>
        </label>
        <!-- label for="profile-picture">Upload a profile picture: <input id="profile-picture" type="file" name="image" accept="image/*"/></label-->
        <fieldset>
            <legend><h2>Father's information</h2></legend>
            <label for="farther-name">Father's First Name: <input id="father-name" name="father-name" type="text" required /></label>
            <label for="father-email">Father's Email: <input id="father-email" name="father-email" type="email" required /></label>
            <label for="telephone1">Telephone Number: <input type="tel" id="telephone1" name="telephone1" pattern="[0-9]{10}" placeholder="0788000000" maxlength="10" required></label>
            <label for="address1">Address: <input id="address1" name="address1" type="text" /></label>
          </fieldset>
          <fieldset>
            <legend><h2>Mother's information</h2></legend>
            <label for="mother-name">Mother's First Name: <input id="mother-name" name="mother-name" type="text" required /></label>
            <label for="mother-email">Mother's Email: <input id="father-email" name="mother-email" type="email" required /></label>
            <label for="telephone2">Telephone Number: <input type="tel" id="telephone2" name="telephone2" pattern="[0-9]{10}" placeholder="0788000000" maxlength="10" required></label>
            <label for="address2">Address: <input id="address2" name="address2" type="text" /></label>
          </fieldset>
        <label for="bio">Any comments on the new Student:
          <textarea id="comment" name="comment" rows="6" cols="30" placeholder="Write any comment about new Student ..."></textarea>
        </label>
      </fieldset>
      
      <button id="user-button" type="submit" value="Submit">Register new Student</button>
    </form>
  </body>
</html>